:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0px;
}

h2 {
  place-items: left;
  text-align: left;
  font-size: 2.4em;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p.left {
  text-align: left;
}

.icon{
  height:1.5em;
  vertical-align: bottom;
}

.logo {
  height: 6em;
/*  padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.green:hover {
  filter: drop-shadow(0 0 2em #1b4e28aa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #c3c631aa);
}

.logo.grey:hover {
  filter: drop-shadow(0 0 2em #888888aa);
}

.card {
  padding: 2em;
}

.subtitle {
  font-size: 1.6em;
  color: #888;
  margin-top: 1px;
  font-variant-caps: all-small-caps;
}

.version {
  font-size: 0.9em;
  color: #888;
  font-variant-caps: all-small-caps;
}

button {
  border-radius: 8px;
  border: 1px solid #242424;
  padding: 0.6em 1.2em;
  margin-top: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightgrey;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #300604; /* from the calendar icon */
  background-color: #FCE3C3; /* from the calendar icon */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex-container {
  display: flex;
  
  flex-flow: row wrap;
  
  justify-content: normal;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  border:darkgray 1px solid;
  border-radius: 5px;
  background-color: #f3f3f3;
  margin: 0.6em 0.3em 0em 0.3em;
  padding: 0.8em;
  width: 200px;
  color: black;
/*  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  */
}

a.flex-item:hover {
  color: black;
}

#search-container input {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #242424;
}

#water-quality-traffic-light {
  color: black;
  display: flex;
  align-items: center;
}

/* SLIDER toggle switch */

    .switch {
      position: relative;
      display: inline-block;
      width: 44px;
      height: 24px;
      vertical-align: middle;
    }
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .2s;
      border-radius: 24px;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: .2s;
      border-radius: 50%;
    }
    input:checked + .slider {
      background-color: #ccc;
      /* background-color: #2196F3; */
    }
    input:checked + .slider:before {
      transform: translateX(20px);
    }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
